{
  "arrowParens": "avoid",
  "blacketSpacing": "true",
  "HtmlwhitespaceSensivity ": "css ",
  "insertProga": false,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "jsxBacketSameLite": false,
  "printWidth": 80,
  "proseWrap": "always",

  "quoteProps": "as-needed",
  "reuirePragma": false,
  "semi": true,
  "tabwidth":2,
  "trallingComma": "all",
  "useTabs":false
}